.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* default colors and fontsizes */

:root{
  --primarycolor:hsl(233,52%,19%);
  --secondarycolor:hsl(233,16%,44%);
  --hoverColor:hsl(8,100%,70%);
  --blackColor:#707070;
  --greyText:hsl(0,0%,75%);
  --bgColor:hsl(0,0%,100%);
  --shadowColor:hsla(0,0%,0%,0.314);
  --gradient:linear-gradient(to bottom,hsl(16,100%,71%),hsl(8,100%,70%));
  --boxShadow: rgba(0,0,0,0.1) 0px 10px 15px -3px,rgba(0,0,0,0.05) 0px 4px 6px -2px;

    


      /* fonts */

    --biggestFontSize:2.4rem;
    --h1FontSize:2rem;
    --h2FontSize:1.25rem;
    --h3FontSize:1rem;
    --normalFontSize:0.938rem;
    --smallFontSize:0.813rem;
    --smallerFontSize:0.75rem;

}
/* default page styling */

 .flex{
  display: flex;
  align-items: center;

}

.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;

}
a{
   text-decoration: none;
}
li{
  list-style-type: none;
}
.icon{
    font-size: var(--h2FontSize);
    cursor: pointer;
}
img{
  height: auto;
  width: 100%;
}
.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  background: var(--gradient) ;
  box-shadow: var(--boxShadow);
  font-size: var(--h3FontSize);
  font-weight: 500;
  color: var(--primaryColor) ;
  padding: .8rem 1rem ;
  border-radius: 8px;
}
.btn:hover{

  color: var(--primaryColor);

}
.section{

  padding: 4rem 0 2rem;

}
.container{

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}
.secHeader{
  margin-top: 2rem;

  span{
    text-transform: uppercase;
    color: var(--secColor) ;
    font-size: var(--h3FontSize);
    font-weight: 600;
    letter-spacing: 5rem;
  }

  h2{
      font-weight: 800;
      color: var(--primaryColor);
      padding: 1rem;
      display: block;
      text-transform: capitalize;
      font-size: var(--h1FontSize);
  }
} 

/* media queries */

@media screen and (min-width:560px){

     .secContainer{
             grid-template-columns: repeat(2,1fr);
     }
  
}
body,html{
  overflow-x: hidden;
  overflow: hidden;
}
.main-content {
  margin-top: 60px; 
  padding-top: 60px;/* Adjust this value as needed */
}